body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.center{
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
a {
  text-decoration: none;
}

button:hover{
    background-color: #EB443F;
    transition: .3s;
    cursor: pointer;
}

// Header

.header{
  background-image: url(../hw1/img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__block{
    padding-top: 217px;
  }
  &__block_title{
    color: #FFF;
      font-family: 'Montserrat';
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 32px;
  }
  &__block_subtitle{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 44px;
  }
  &__block_run{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  &__block_go{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  &__block_button{
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 493px;
  }
}

.games__box{
  background-image: url(./img/bg-section1.jpg);
  background-size: cover;
  display: flex;
  gap: 32px;
  padding-top: 128px;
  &_item{
    margin-bottom: 128px;
  }
  &_item:hover{
    border-radius: 16px;
    border: 3px solid #44D2FF;
  }
  &_text{
    position: absolute;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    padding-top: 236px;
    padding-left: 32px;
    margin-bottom: 32px;
  }
}

.seasons__box{
  background-image: url(./img/bg-section1.jpg);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 233px;
  padding-bottom: 233px;
  &_text{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &_title{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &_subtitle{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; 
  }
  &_button{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
  }
}
.words__box{
  background-image: url(./img/bg-section1.jpg);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 233px;
  padding-bottom: 233px;
  &_text{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &_title{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &_subtitle{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; 
  }
  &_button{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
  }
}

@media (max-width: 767px) {
  .center{
    padding-right: 16px;
    padding-left: 16px;
  }
  .header{
    background-image: url(./img/bg-header-mobile.jpg);
    &__block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__block_title{
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &__block_subtitle{
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
    }
  }
  .games__box{
    flex-direction: column;
    align-items: center;
    &__box_item img{
      width: 343px;
    }
  }

  .seasons__box img{
    width: 344px;
  }
  .words__box img{
    width: 344px;
  }

  .seasons__box{
    flex-direction: column;
    align-items: center;
    &_text{
      align-items: center;
      margin-bottom: 64px;
    }
    &_title{
      text-align: center;
      font-size: 32px;
    }
    &_subtitle{
      text-align: center;
      width: 343px;
      font-size: 14px;
    }
  }
   
  .words__box{
    flex-direction: column;
    align-items: center;
    &_text{
      align-items: center;
      margin-bottom: 64px;
    }
    &_title{
      text-align: center;
      font-size: 32px;
    }
    &_subtitle{
      text-align: center;
      width: 343px;
      font-size: 14px;
    }
  }
}
